<a href="https://colab.research.google.com/github/euncode03/dataAnalysis/blob/main/5%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5. 반복문

# 5-1 for 반복문
유한개수의 반복

## 1. 다양한 반복문

In [ ]:
# 1. range() 함수 이용: 정수를 차례로 발생시키는 함수
for 변수 in range(0,3,1):
for 변수 in range(3):
    print(변수)

0
1
2

In [ ]:
# 2. 리스트 이용
a = list(range(10,0,-1))
a = list(range(1,11))
for i in a:
    print(i)

for i in a:
    print(i, end=',')

1
2
3
4
5
6
7
8
9
10
1,2,3,4,5,6,7,8,9,10,

In [ ]:
# 한 줄로 표현하는 방법
for i in range(1,101):
    print(i, end=',')

1,2,3,4,5,6,7,8,9,

In [ ]:
# 3. 문자열 이용
for i in 'python':
    print(i)

p
y
t
h
o
n

In [ ]:
# 4. 변수 사용 안하고 반복만 할 때
for _ in range(3):
    print('좋은 아침!')

좋은 아침!
좋은 아침!
좋은 아침!

In [ ]:
# 5. 리스트와 같은 순서가 있는 자료형의 인덱스를 함께 사용
fruits = ['사과','포도', '딸기', '키위']
for idx, fruit in enumerate(fruits):fruit
print (idx, fruit)

SyntaxError: unmatched ')' (<ipython-input-15-37c26d4fb11f>, line 3)

In [ ]:
# 6. 컬렉션 자료형 특징 이용
# _리스트
for a, b in [(1,2), (3,4), (5,6)]:
    print(a,b)
# 딕셔너리
dic = {1: '사과', 2:'포도'}
for key in dic:
    print(key, dic[key])

print('-'*30)
for key, value in dic.items():
    print(key, value)

print('-'*30)
#집합

for v in {1,2,3,3,4,5,3}:
    print(v)

1 2
3 4
5 6
1 사과
2 포도
------------------------------
1 사과
2 포도
------------------------------
1
2
3
4
5

## [실습문제] 1~N까지 짝수 제외하고 총합 구하기

In [ ]:
n = int(input('합계를 구할 숫자: '))
hap = 0

for i in range(1, n+1):
    if i %2 != 0:
        hap = hap + i
print(f"i~[n]까지 짝수 제외한 합은: {hap}")

합계를 구할 숫자: 100
i~[n]까지 짝수 제외한 합은: 2500

In [ ]:
n = int(input('합계를 구할 숫자: '))
hap = sum ([i for i in range(1, n+1, 2)])
hap

# print(f"i~[n]까지 짝수 제외한 합은: {hap}")

합계를 구할 숫자: 100

2500

### [실습문제] 정오각형 그리기
- turtle 모듈은 코랩에서 사용할 수 없음.
- PC에서 사용하기

In [ ]:
import turtle

t = turtle.Pen()
t.forward(100)
t.right(72)

turtle.excitonic

### [실습문제]  1~100숫자를 1줄로 출력하기

In [32]:
for i in range(1,101):
    print(i, end= ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [38]:
1 for i in range(1,101) : print(i,end= ' ')   # 간략히 이렇게 해도 됨

SyntaxError: invalid syntax (<ipython-input-38-548a62801d7b>, line 1)

In [37]:
print(' '.join([str(i) for i in range(1,101)]))    # join은 문자열에서만 가능

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100