<a href="https://colab.research.google.com/github/euncode03/dataAnalysis/blob/main/5%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5. 반복문

# 5-1 for 반복문
유한개수의 반복

## 1. 다양한 반복문

In [1]:
# 1. range() 함수 이용: 정수를 차례로 발생시키는 함수
for 변수 in range(0,3,1):
for 변수 in range(3):
    print(변수)

0
1
2

In [8]:
# 2. 리스트 이용
a = list(range(10,0,-1))
a = list(range(1,11))
for i in a:
    print(i)

for i in a:
    print(i, end=',')

1
2
3
4
5
6
7
8
9
10
1,2,3,4,5,6,7,8,9,10,

In [9]:
# 한 줄로 표현하는 방법
for i in range(1,101):
    print(i, end=',')

1,2,3,4,5,6,7,8,9,

In [10]:
# 3. 문자열 이용
for i in 'python':
    print(i)

p
y
t
h
o
n

In [11]:
# 4. 변수 사용 안하고 반복만 할 때
for _ in range(3):
    print('좋은 아침!')

좋은 아침!
좋은 아침!
좋은 아침!

In [15]:
# 5. 리스트와 같은 순서가 있는 자료형의 인덱스를 함께 사용
fruits = ['사과','포도', '딸기', '키위']
for idx, fruit in enumerate(fruits):fruit)

SyntaxError: unmatched ')' (<ipython-input-15-37c26d4fb11f>, line 3)