<a href="https://colab.research.google.com/github/euncode03/dataAnalysis/blob/main/6%EC%9D%BC%EC%B0%A8_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_%EC%A0%9C%EC%96%B4%EB%AC%B8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제어문(조건문,반복문)실습문제 풀이

### [실습문제] 연속된 수 합계 구하기

In [3]:
print('프로그램을 작성할 때 일정한 구간의 명령을\n반복해서 실행하도록 구성한 문장을 무엇이라고 할까요?')
while True:
    answer = input('정답: ')
    if answer == '반복문':
        print('정답!')
        break

        print('오답')
print('프로그램 종료! ')

프로그램을 작성할 때 일정한 구간의 명령을
반복해서 실행하도록 구성한 문장을 무엇이라고 할까요?
정답: 반복문
정답!
프로그램 종료!

In [4]:
print('프로그램을 작성할 때 일정한 구간의 명령을\n반복해서 실행하도록 구성한 문장을 무엇이라고 할까요?')
while True:
    answer = input('정답: ')
    if answer == '반복문':
        print('좀 더 고민해 보세요~')
        break

    elif answer == '반복':
        continue
        print('오답')
print('프로그램 종료! ')

프로그램을 작성할 때 일정한 구간의 명령을
반복해서 실행하도록 구성한 문장을 무엇이라고 할까요?
정답: 반복
정답: 반복문
좀 더 고민해 보세요~
프로그램 종료!

## [실습문제] 금리 계산하기

In [8]:
seed, target = 1000, 2000
balance, interest = 1000, 0.07
year = 0
while balance <= target:
    balance = balance + balance * interest
    year + 1  # year = year + 1
    print(f"year:{year}, balance:{round(balance)}")
print(f"{seed}원이 {target}이 되는데 {year}년이 걸립니다")

year:0, balance:1070
year:0, balance:1145
year:0, balance:1225
year:0, balance:1311
year:0, balance:1403
year:0, balance:1501
year:0, balance:1606
year:0, balance:1718
year:0, balance:1838
year:0, balance:1967
year:0, balance:2105
1000원이 2000이 되는데 0년이 걸립니다

### [실습문제] 1~N까지 3의 배수 합계 구하기

In [15]:
# 리스트 컨프리핸션으로 구하기
result = [ i for i in range(1,1001)  if i%3==0]
print(result)
result = sum([i for i in range(1, 1001) if i%3==0])
print(result)
print(f'{result:,}')

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]
166833
166,833

### [ 실습문제] 숫자 입력 받아 별 출력하기

In [18]:
star = '★'
numbers = input('숫자 입력 여러 개 입력(0~9): ')
for number in numbers:
        for _ in range(int(number)):
            print(star, end='')
        print()

숫자 입력 여러 개 입력(0~9): 23
★★
★★★

### [실습문제} 공이 튀긴 횟수 구하기

In [25]:
length = int(input('공의 높이를 입력하세요(meter) : '))
meter, cnt = length, 0
while True:
    meter /= 2
    cnt += 1
    if meter < 0.00001:
       break
print('-'* 50)

print(f'{length} 위치에서 공의 튕긴 횟수는 총{cnt}번 입니다.')

공의 높이를 입력하세요(meter) : 30
--------------------------------------------------
30 위치에서 공의 튕긴 횟수는 총22번 입니다.

##[실습문제] 호텔 관리 프로그램

In [35]:
print('호텔관리 시스템입니다.')
menu = '''
1. 체크인
2. 체크아웃
3. 입실현황
0. 종료'''
number = int(input('호텔 방의 개수는(입력): '))
hotel = [0 for _ in range(number)]
print(f"방 현황: {hotel} (0:빈방, 1:입실중)")
while True:
    print('-------------------')
    print(menu)
    select = input('-->메뉴 선택: ')
    if select == '0':
        break

    if select == '1': # 체크인
        num = int(input(f'체크-in하실 방 호수(1~{len(hotel)}): '))
        if hotel[num-1]:   # 이미 입실 중일 때
            print(f"{num}번 방은 이미 입실 중입니다.")
        else:
            hotel[num-1] = 1
        continue

    if select == '2': # 체크아웃
        num = int(input(f'체크-out하실 방 호수(1~{len(hotel)}): '))
        if hotel[num-1]: # 체크아웃 처리
            hotel[num-1] = 0    # 빈 방 상태로 만듦
        else:
            print(f'{hotel[num]}번 방은 빈 방입니다. 빈 방은 체크-out하실 수 없습니다.')

    if select == '3': # 현황보기
        for idx, room in enumerate(hotel): #[0, 0, 0]
            if room == 0:
                print(f"{idx+1}호: 빈방")
            elif room == 1:
                print(f"{idx+1}호: 입실중")


print('-------------------')
print('프로그램 종료!')

호텔관리 시스템입니다.
호텔 방의 개수는(입력): 2
방 현황: [0, 0] (0:빈방, 1:입실중)
-------------------

1. 체크인
2. 체크아웃
3. 입실현황
0. 종료
-->메뉴 선택: 1
체크-in하실 방 호수(1~2): 2
-------------------

1. 체크인
2. 체크아웃
3. 입실현황
0. 종료
-->메뉴 선택: 3
1호: 빈방
2호: 입실중
-------------------

1. 체크인
2. 체크아웃
3. 입실현황
0. 종료
-->메뉴 선택: 0
-------------------
프로그램 종료!

## [실습문제] 주사위 숫자 별 빈도수

In [47]:
import random

dice = [0, 0, 0, 0, 0, 0]

for _ in range(100):
  x = random.randint(1, 6)
  dice[x-1] += 1

print(f"숫자별 개수 : {dice}")

maxValue = max(dice)
max_duce = [idx+1 for idx, v in enumerate(dice)  if v==maxValue]


# max_dice = []
# for idx, v in enumerate(dice):
#     if v==maxValue:
#         max_dice.append(idx+1)

print(f"가장많이 나온 숫자: [{dice.index(max(dice))+1}], 횟수: {max(dice)}")

숫자별 개수 : [19, 16, 14, 21, 20, 10]
가장많이 나온 숫자: [4], 횟수: 21